body {
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    background: url('library.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #0000;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10x 20px;
    background-color: rgba(0,0,0,0.7);
}
header h1 { font-size: 18px; font-weight: bold; }
header .nav-buttons button {
    margin-left: 10px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}
.container { padding: 20px; text-align: left; }
.courses-list span, .courses span {
    display: block;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
    margin: 12px 0;
    cursor: pointer;
}
.footer-message { font-weight: bold; margin-top: 34px; }
nav a { color: #fff; margin: 0 10px; font-weight: bold; text-decoration: none; }
nav { margin-top: 20px; display: block; }
input { margin: 6px 0; padding: 8px; width: 200px; }
button { padding: 6px 12px; cursor: pointer; font-weight: bold; }
